{
  "production": {
    "url":        "https://subdomain.zendesk.com",
    "username":   "admin@example.com",
    "password":   "astrongpassword"
  },
  "dev": {
    "url":        "https://devsubdomain.zendesk.com",
    "username":   "devadmin@example.com",
    "password":   "astrongpassword"
  }
}
